{% extends "@LouvresTicketing/layout.html.twig" %}

{% block title %}
    Louvre - Erreur 404
{% endblock %}

{% block body %}
    <section id="features">
        <div class="container">
            <article class="box post">
                <header>
                    <h2>Oups ! La page à laquelle vous souhaitez accéder n'est pas là.</h2>
                    <img src="">
                </header>
            </article>
        </div>
    </section>
{% endblock %}