{% extends "@LouvresTicketing/layout.html.twig" %}

{% block title %}
    Louvre - Accueil
{% endblock %}

{% block body %}
    <section id="features">
        <div class="container">
            <article class="box post">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam si beatus umquam fuisset, beatam vitam
                    usque ad illum a Cyro extructum rogum pertulisset. Eorum enim omnium multa praetermittentium, dum
                    eligant aliquid, quod sequantur, quasi curta sententia; Tamen aberramus a proposito, et, ne longius,
                    prorsus, inquam, Piso, si ista mala sunt, placet. Magni enim aestimabat pecuniam non modo non contra
                    leges, sed etiam legibus partam. Sine ea igitur iucunde negat posse se vivere? Duo Reges:
                    constructio interrete. Memini vero, inquam; </p>
                <p>Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Stoici autem, quod finem bonorum
                    in una virtute ponunt, similes sunt illorum; Tu vero, inquam, ducas licet, si sequetur; Nunc vero a
                    primo quidem mirabiliter occulta natura est nec perspici nec cognosci potest. Est autem etiam actio
                    quaedam corporis, quae motus et status naturae congruentis tenet; Non enim, si omnia non sequebatur,
                    idcirco non erat ortus illinc. Ergo, si semel tristior effectus est, hilara vita amissa est? Et quod
                    est munus, quod opus sapientiae? Illa argumenta propria videamus, cur omnia sint paria peccata. Si
                    quae forte-possumus. </p>
            </article>
        </div>
    </section>

{% endblock %}
