{% extends "@LouvresTicketing/layout.html.twig" %}

{% block title %}
    Louvre - Tarifs
{% endblock %}

{% block body %}
    <section id="features">
        <div class="container">
            <article class="box post">
                <header>
                    <h2>Tarifs des entrées au musée</h2>
                </header>

                <p>Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Stoici autem, quod finem bonorum in una virtute ponunt, similes sunt illorum; Tu vero, inquam, ducas licet, si sequetur; Nunc vero a primo quidem mirabiliter occulta natura est nec perspici nec cognosci potest. Est autem etiam actio quaedam corporis, quae motus et status naturae congruentis tenet; Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Le musée accorde des réductions aux personnes étudiantes, employée du musée, militaires, sur présentation d'un justificatif.</p>
               <table>
                   <tr>
                       <td>Tarif normal</td>
                       <td>16 €</td>
                   </tr>
                   <tr>
                       <td>Tarif enfant de 4 à 12 ans</td>
                       <td>8 €</td>
                   </tr>
                   <tr>
                       <td>Tarif enfant de moins de 4 ans</td>
                       <td>Gratuit</td>
                   </tr>
                   <tr>
                       <td>Tarif senior (à partir de 60 ans)</td>
                       <td>12 €</td>
                   </tr>
                   <tr>
                       <td>Tarif réduit</td>
                       <td>10 €</td>
                   </tr>
                   <tr>
                       <td>Tarif demi-journée</td>
                       <td>8 €</td>
                   </tr>
               </table>
            </article>
        </div>
    </section>
{% endblock %}
